.box {
    position: relative;
    z-index: 100;
    @media only screen and (max-width: 600px) {
        margin-left: 2rem;
    }
    max-width: 85vw;
    min-width: 75vw;
    min-height: 55vh;
    max-height: 85vh;
    padding: 1rem;
    background-color: rgba($color: #ececec, $alpha: 0.8);
    overflow: auto;
    overflow-x: hidden;
    .title {
        line-height: 2rem;
        font-size: 2.2rem;
        position: relative;
        top: -1rem;
        h1 {
            line-height: 0.75;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    .content {
        padding: 1rem;
        width: 88%;
        font-weight: 450;
    }
    .tagline {
        text-align: center;
    }
    .center-grid{
        display: grid;
        grid-template-columns: repeat(minmax(2, 4), 1fr);
        gap: 10px;
        grid-auto-rows: 200px;
        grid-template-areas:
          ". a a .";
    }
    .action-points {
        padding-top: 2rem;
        grid-area: a;
        justify-self: center;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        @media only screen and (min-width: 600.01px) {
            width: 50%;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        a.action-card {
            text-decoration: none;
            text-align: center;
            color: var(--text-dark-grey);
            svg {
                max-width: 5rem;
                max-height: 5rem;
            }
        }
    }
}

::ng-deep.MP {
    @media only screen and (max-width: 600px) {
       width: 100%;
    }
    @media only screen and (min-width: 600.01px) {
        display: flex;
    }
    .img {
        @media only screen and (max-width: 600px) {
           width: 100%;
        }
        @media only screen and (min-width: 600.01px) {
            align-self: center;
           width: 20%;
        }

    }
    .description {
    @media only screen and (max-width: 600px) {
       width: 100%;
    }
    @media only screen and (min-width: 600.01px) {
        padding: 0.25rem 1rem;
       width: 80%;
    }
}
}
::ng-deep img {
    max-height: 100%;
    width: 100%;        
}

::ng-deep.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 1rem;
    .portfolio-card {
        .img {
            width: 100%;
            max-height: 50vh;
        }
        h3 {
            position: relative;    display: block;
            top: -1.5rem;
            width: 100%;
            background-color: var(--bg-color-light);
            span {
                padding: 1rem;
            }
        }
    }
}