$accent-color: #3e98a6;
$bg-color-dark:#262626;
$bg-color-light: #F1F0F0;
$text-light-grey:#8A8C8E;
$text-dark-medium:#737373;
$text-dark-grey:#232F32;
$transition-short: 450ms;
$transition-long: 900ms;


:root {
    font-size: 16px;
    font-family: "Dosis", sans-serif;
    --accent-color: #3e98a6;
    --bg-color-dark:#262626;
    --bg-color-light: #F1F0F0;
    --text-light-grey:#8A8C8E;
    --text-dark-medium:#737373;
    --text-dark-grey:#232F32;
    --transition-short: 450ms;
    --transition-long: 900ms;
  }