@import "style-vars.scss";
/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  color: black;
  overflow: hidden;
}
body.dark {
  animation: var(--transition-long) ease-in-out;
  background: var(--bg-color-dark);
}
body.light {
  background: var(--bg-color-light);
  animation: var(--transition-long) ease-in-out;
}

#main article {
  overflow: hidden;
display: flex;
padding-top: 5rem;
min-width: 100vw;
justify-content: center;
align-items: center;
}

.logo {
width: 35vw;
max-height: 15rem;
text-align: center;
color: var(--text-light-grey);
 h1 {
   font-weight: 600;
   font-size: 2rem;
 }
 p {
   font-weight: 450;
   font-size: 1.2rem;
 }
}
.currentColor {
  fill: var(--bg-color-light)
}
.fa-sun {
  max-width: 7vw;
  margin: 0.7rem;
}
.rect {
  position: absolute;
  fill: var(--accent-color);
  animation: rectangle-logo var(--transition-short) ease-in-out;
  animation-fill-mode: backwards;
}

.block {
  position: fixed;
  right:0;
  bottom: 0;
  height: 5vw;
  width: 5vw;
  opacity: 1;
  padding: 0.5rem;
  background-color: var(--accent-color);
  animation: cube var(--transition-long) ease-in-out;
  animation-fill-mode: backwards;
}

.studio {
  fill:var(--text-light-grey);
}

.dmla {
  fill:var(--bg-color-light);
}

.hiding {
  animation: hide var(--transition-short) ease-in-out;
}

.hide {
  display: none;
}

.started {
  animation: start var(--transition-long) ease-in;
}

@keyframes cube {
  from { height: 50vh; width: 50vw; opacity: 0;}
  to { height: 5vw; width: 5vw; opacity: 1;}
}
@keyframes hide {
  from { opacity: 1;}
  to { opacity: 0; }
}
@keyframes background {
  from { background-color: var(--bg-color-light);}
  to { background-color: var(--bg-color-dark);}
}
@keyframes rectangle-logo {
  from { width: 100vw;}
  to { width: 10vw;}
}
@keyframes start {
  from { opacity: 0;}
  to { opacity: 1;}
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.content>p {
  margin-block-start: 0.6rem !important;
  margin-block-end: 0.3rem !important;
  line-height: 1.8;
}

.iframe {
  width: 100%;
  min-width: 85vw;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
  left: -1.7rem;
  position: relative;
  padding: 0;
  margin: 0;
}
